name: SCA - Trivy (filesystem)

on:
  push:
    branches:
      - teste

jobs:
  sca-trivy-fs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Rodar Trivy FS (SCA)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          scan-ref: .
          ignore-unfixed: true
          severity: HIGH,CRITICAL
          exit-code: 1
          format: table

      - name: Exportar relatório Trivy FS (SARIF)
        if: always()
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          scan-ref: .
          format: sarif
          output: trivy-fs.sarif
          ignore-unfixed: true
          severity: HIGH,CRITICAL

      - name: Upload do relatório (artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-fs-sarif
          path: trivy-fs.sarif